<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Formula 1</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/update_database.js" defer></script>
</head>
<body>
    <h1>Welcome to the Wonderful World of Fantasy Formula 1</h1>
    <p><a href="top_trumps.html">Let's Play F1 Top Trumps</a></p>
    <p><a href="champion_of_champions.html">Let's Play Champion of Champions</a></p>
    <button id="updateLocalDatabase">Update Local Database</button>
    <progress id="progressBar" value="0" max="100"></progress>
</body>
</html>